[package]
name = "repose-macros"
version = "0.0.0"
edition.workspace = true
publish = false
description = "Wip macros for repose"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1"
quote = "1"
syn = { version = "2", features = ["full"] }
